<app-menu></app-menu>

<div class="container">
  <div class="jumbotron">
    <h1 *ngIf="!nombreUsuario" class="display-4">Hello, world!</h1>
    <h1 *ngIf="nombreUsuario" class="display-4">Hello, {{nombreUsuario}}</h1>
    <p class="lead">Este proyecto en una prueba tecnica para la empresa Tata Consulting.</p>
    <hr class="my-4">
    <p>Si quieres saber mas de ellos , te intivo a visitar su pagina web</p>
    <a class="btn btn-primary btn-lg" href="https://www.tcs.com/" role="button">Learn more</a>
  </div>
</div>

